.content {
  width: calc(100% - 80px);
  /* height: 780px; */
  margin: 0 auto;
  /*padding: 30px 50px;*/
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-repeat: no-repeat;
  /* div {
    width: 40%;
  } */
  .imagen {
    border-radius: 50px;
    background: round;
    height: 490px;
  }
  .carillas {
    font-family: 'Pally';
    color: #75182a;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 112px);
    height: calc(100% - 66px);
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    p{
      line-height: 2;
    }
    .text-content {
      width: 49%;
      &.bottom-right {
        margin-top: 610px;
        text-align: end;
        &--large{
          width: 50%;
        }
      }
      &.bottom-left {
        margin-top: 610px;
      }
      &.top-right {
        text-align: end;
      }
      &.center {
        margin-top: 180px;
        text-align: center;
      }
      .ft-18 {
        @media (max-width:576px) {
          font-size: 14px;
        }
      }
      @media (max-width:576px) {
        font-size: 12px;
        color: #724900;
        &.bottom-left,
        &.bottom-right,
        &.center {
          margin-top: 0;
        }
      }
    }
    @media (max-width:576px) {
      width: calc(100% - 40px);
      div {
        &:first-child{
          border-right: 1px solid #724900;
        }
        /* border: 1px solid #724900;
        padding: 20px; */
      }
    }
  }
  .reproductor {
    /* margin-top: -90px;
    justify-content: center;
    display: flex;
    width: 50%; */
    background: round;
    height: 450px;
    border-radius: 50px;
    display: flex;
    align-items: end;
    position: relative;
    .btn {
      position: absolute;
      top: 50%;
      width: 85px;
      height: 76px;
      @media (max-width: 536px) {
        width: 40px;
        height: 36px;
      }
      &.btn-ant {
        left: -35px;
        @media (max-width: 536px) {
          left: -15px;
        }
        @media (max-width: 420px) {
          left: 0;
        }
      }
      &.btn-sig {
        right: -35px;
        @media (max-width: 536px) {
          right: -15px;
        }
        @media (max-width: 420px) {
          right: 0;
        }
      }
      @media (max-width: 320px) {
        top: 45%;
      }
    }
    &.top {
      margin-top: -746px;
      @media (max-width:576px) {
        margin-top: 80px;
      }
    }
    audio {
      background-color: rgb(255, 38, 0);
    }
    @media (max-width: 576px) {
      height: 320px;
    }
    @media (max-width: 320px) {
      height: 280px;
    }
  }
  @media (max-width:576px) {
    width: calc(100% - 40px);
    background-size: contain;
  }
  @media (max-width:420px) {
    width: calc(100% - 10px);
  }
}
