

@font-face {
  font-family: 'Pally';
  src:  url('./assets/fonts/Pally-Regular.otf');
  src:  url('./assets/fonts/Pally-Regular.otf') format('embedded-opentype')/* ,
    url('./assets/fonts/Pally-Variable.ttf') format('truetype') */;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamLight';
  src:  url('./assets/fonts/GothamLight.otf');
  src:  url('./assets/fonts/GothamLight.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Pally';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff1dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ft-18{
  font-size: 18px;
}
.color-white {
  color: #FFFFFF;
}
.color-brown {
  color: #724900;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  &>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
  }
  .col {
    flex: 1 0 0%;
    img {
      max-width: 100%;
    }
  }
}
